/*	tags gerais */
body {
	background-color: #4B0082;
}

header{
	background-color: #9370DB;
	height: 170px;
	width: 100%;
}

footer{
	margin-top: 20px;
	background-color: #9370DB;
	width: 100%;
	font-family: 'Oswald', sans-serif;
    font-size: 18px;
	color: #FFFAF0;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

/* css do cabeçalho */
#logoTxt {
	height: 100%;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	color: #FFFAF0;
	font-size: 100pt;
	text-align: center;
}

#slogan {
	background-color: #9370DB;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-style: italic;
	color: #FFFAF0;
	text-align: center;
}

/*	css do corpo do site */
#corpo {
	min-height: 500px;
}

#corpoMain {
	width: 70%;
	margin: 10px auto;
	color: #FFFAF0;
	font-family: 'Oswald', sans-serif;
    font-size: 18px;
	text-align: justify;
}

#posts {
    width: 100%;
    margin: 15px 0;
}

.post {
    width: 90%;
    margin: 10px auto;
    background: rgba(255, 250, 240, 0.5);
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.post img {
    max-width: 90%;
    margin: -8px auto 0 auto;
    border: 1px white solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

.socialmedia {
    color: #FFFAF0;
}

.socialmedia:hover {
    text-decoration: underline;
    color: #FFFAF0;
}

.socialmedia:visited {
    color: #FFFAF0;
}

.img-desc{
    width: 40%;
    max-width: 230px;
    border: 2px white solid;
    border-radius: 8px;
    -moz-border-radius: 8px;
    float:left;
    margin-right: 15px;
}

#img-sombia {
    max-width: 350px;
    margin-right: 15px;
}

#desc-couple {
    margin-bottom: 90px;
}

.desc-ind {
    margin-bottom: 100px;
}

/*	css do menu */
#navMenu {
	width: 100%;
}

#listMenu {
	padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
}

#listMenu li {
	display: inline;
}

#listMenu li a{
	padding: 10px;
    display: inline-block;
    color: #FFFAF0;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
	border-bottom: 3px solid rgba(255, 250, 240, 0);
}

#listMenu li a:hover{
	border-bottom: 3px solid rgba(255, 250, 240, 1);
    text-decoration: none;
}